<div class="flex flex-col h-full bg-gray-800 text-white w-64 space-y-6 py-7 px-2 fixed inset-y-0 left-0 transform -translate-x-full md:translate-x-0 transition duration-200 ease-in-out">
  <a href="#" class="text-white flex items-center space-x-2 px-4">
    <span class="text-2xl font-extrabold">ICE</span>
  </a>

  <nav>
    <a
      *ngFor="let item of navigationItems"
      [routerLink]="item.route"
      routerLinkActive="bg-gray-700 text-white"
      class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-700 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
    >
      <span class="inline-flex justify-center items-center ml-4">
        {{ item.icon }}
      </span>
      <span class="ml-2 text-sm tracking-wide truncate">{{ item.label }}</span>
    </a>
  </nav>
</div>
